@font-face {
    font-family: "jockeyone";
    src: local("jockeyone"),url("./static/fonts/JockeyOne-Regular.ttf") format("truetype");
    font-weight: bold;
}
#root{
    background-image: url("./static/Blue\ Neon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -6px -398px;
}
.LendingContainer{
    /* background-position: top; */
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    justify-content: center;
    height: fit-content;
}
#mainLogo{
    height: 42rem;
}
#headingContainer{
    display: flex;
    flex-wrap: wrap;
    margin: 0rem;
    width: 100%;
}

#headingText{
    margin: 0px;
    color: #53ABFD;
    font-family: 'Jura';
    font-style: normal;
    font-weight: 700;
    font-size: 7.2em;
    text-transform: uppercase;
    text-shadow: 0px 0px 0.72rem #0047FF, 0px 0px 2.28rem #191DD5;
}

#pricepoolText{
    font-family: 'JockeyOne';
    font-weight: 400;
    font-size: 13.2rem;
    margin-top: -4.2rem;
    margin-bottom: -2.4rem;
    padding: 0px;
    color: #53D5FD;
    font-feature-settings: 'salt' on, 'liga' off;
    text-shadow: 0px 0px 1.02rem #191DD5, 0px 0px 2.46rem #191DD5;
}
#pricepoolContainer{

}
.plainWhite{
    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 3.06rem;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #FFFFFF;
}
.neonRed{
    font-family: 'Jura';
    font-style: normal;
    font-weight: 700;
    font-size: 3.06rem;
    /* or 59% */
    color: #FFAAB6;
    text-transform: uppercase;
    font-feature-settings: 'salt' on, 'liga' off;
    text-shadow: 0px 0px 0.72rem #CE1532, 0px 0px 2.28rem #F51919;
}

.margin5{
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.timeInfo{
    display: flex; 
    gap: 0.6rem;
}

.infoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}




@media only screen and (max-width: 830px) {
    html{
        font-size: 55%;
    }
}

@media only screen and (max-width: 475px) {
    html{
        font-size: 55%;
    }
    .LendingContainer{
        flex-direction: column;
    }

    .infoContainer{
        padding-left: 0.5rem;
    }
    #headingContainer{
        font-size: 100vw;

    }
    #headingText{
        font-size: 0.16em;
    }
    #root{
        background-image: url("./static/Blue\ Neon.png");
        background-size: 1000px;
        background-repeat: no-repeat;
        background-position: -362px 171px;
    }
}

